<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home News</h1>
    <h2><%= 'breking news'.toUpperCase() %></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, atque voluptate! Ut sunt eaque sint commodi doloribus eum consequuntur nesciunt harum fuga ab odio dolore illo saepe, distinctio reprehenderit labore?
    Tenetur voluptas vero in sunt mollitia. Ipsum ullam enim expedita facilis, ut repudiandae praesentium. Aperiam velit voluptatum assumenda iusto quaerat, quod deserunt ullam soluta rem. Vero temporibus at ab deserunt.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, atque voluptate! Ut sunt eaque sint commodi doloribus eum consequuntur nesciunt harum fuga ab odio dolore illo saepe, distinctio reprehenderit labore?
    Tenetur voluptas vero in sunt mollitia. Ipsum ullam enim expedita facilis, ut repudiandae praesentium. Aperiam velit voluptatum assumenda iusto quaerat, quod deserunt ullam soluta rem. Vero temporibus at ab deserunt.
    </p>
</body>
</html>